*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}

.clock{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(2, 2, 62), rgb(35, 149, 149));
    color: white;
    position: relative;
}

.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock1{
    width: 100%;
    height: 100%;
    background: rgba(186, 51, 51, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: rgb(213, 73, 73);
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: rgb(241, 197, 85);
    border-radius: 5px;
    position: absolute;
    right: -30px;
    bottom: -50px;
    z-index: -1;
}

.clock1 span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock1 span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
}

#hrs::after{
    content: 'HOURS';
}

#min::after{
    content: 'MINUTES';
}

#sec::after{
    content: 'SECONDS';
}