
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: lightblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.container {
    
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    text-align: center;
}
p {
    line-height: 1.6;
}
.italic {
    font-style: italic;
}
#about{
    background-color: rgb(32, 182, 237);
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
}
.bold {
    font-weight: bold;
}
.skills {
    margin-top: 20px;
    background-color: aquamarine;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
    
}
.social {
    margin-top: 20px;
    background-color: rgb(69, 232, 224);
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
  
}
.contact-form {
    margin-top: 20px;
    background-color: lightblue;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-right: 15px;
}
input[type="text"],input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    
}



input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #555;
}
.fa-facebook,
.fa-twitter,
.fa-linkedin{
    font-size: 30px;
    color: black;
    padding-right: 10px;

}