body{
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;

}
.login-box{
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    margin-top: 200px;
}
h1{
    text-align: center;
    padding-top: 15px;

}

form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
   
} 
form input{
    width: 150%;
    padding: 8px;
    border: none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 200px;
    height: 35px;
    margin-top: 20px;
    margin-left: 113px;
    border: none;
    background-color: blueviolet;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}
input[type="button"]:hover {
    background-color: rgb(154, 77, 226);
}