body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    width: 80%;
    margin: 0 auto;
}



header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background:lightsalmon;
    color: black;
}



header h1 {
    display: inline-block;
    margin: 0;
    margin-bottom:-2.0%;
    
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: inline;
    margin-left:1rem;
    margin-bottom: 0%;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


.hero {
    background: url('images/coffee5.jpg') no-repeat center center/cover; 
    color:black;
    text-align: center;
    padding: 5rem 0;
}


.hero h2 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
}

.btn {
    background: orangered;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;

}

.btn:hover {
    background: orangered;
}

section {
    padding: 3rem 0;
}

.menu {
    background:lightgoldenrodyellow;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 45%;
    margin: 1rem 0;
    text-align: center;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item h3 {
    margin-top: 0;
}

.about, .contact {
    text-align: center;
    background:lightgoldenrodyellow;
}

.location {
    padding: 20px;
    background: lightgoldenrodyellow;
    text-align: center;
}

.location .container {
    max-width: 600px;
    margin: 0 auto;
}

.location h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.location p {
    font-size: 16px;
    margin-bottom: 20px;
}

.location .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: orangered;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.location .btn:hover {
    background-color: orangered;
}


.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    background-color:lightgoldenrodyellow;
}

.contact form input, .contact form textarea {
    width: 100%;
    max-width: 500px;
    margin: 0.5rem 0;
    padding: 0.75rem;
    border: 1px solid black;
    border-radius: 5px;
}

.contact form button {
    margin-top: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}
