*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(233, 210, 229);

}
button{
    display: block;
    margin: 50px auto;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: rgb(21, 176, 214);
    justify-content: center;
    color: white;
}

#result{
    text-align: center;
    font-size: 1rem;
    color: aliceblue;
}