*{
    margin: 0;
    padding:0;
    font-family:'poppins','Sans-serif';
    box-sizing: border-box;
}

.clock{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #2b98d8, #c0e90b);
    color: #fff;
    position: relative;
}

.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
}

.clock1{
    width: 100%;
    height:100%;
    background: rgba(41, 235, 83, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
}

.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: cyan;
    border-radius: 50%;
    position:absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background:#da0abe;
    border-radius:5px;
    position:absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;

    
}

.clock1 span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock1 span::after{
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50);
}

#hrs::after{
    content: 'HOURS';
}

#min::after{
    content: 'MINUTES';
}

#sec::after{
    content: 'SECONDS';
}