body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #333;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 2em;
  margin: 1em auto;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5em;
}

.skill {
  margin-bottom: 1em;
}

.progress-bar {
  background: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
}

.progress {
  background: #333;
  height: 100%;
}

.project {
  margin-bottom: 1.5em;
}

#contactForm {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  border: 1px solid #333;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: black;
  color: white;
}
